<form action="/" method="POST">
  n: <input type="number" step="any" name="n" /> <br />
  op:
  <select name="op">
    <option value="plus">+</option>
    <option value="minus">-</option>
    <option value="times">*</option>
    <option value="div">/</option>
  </select>
  <br />
  m: <input type="number" step="any" name="m" /> <br />
  <input type="submit" value="Go!" />
</form>
